body {
  color: #313133;
  background: #f1f1f2;
  direction: rtl;
}

a:link,
a:visited {
  color: inherit;
}

aside {
  a:link {
    font-size: 14px;
    font-weight: 400;
  }

  a:hover {
    color: #f68b1e;
  }
  a:hover i {
    color: #f68b1e;
  }
}

i {
  color: #616162;
}

.carousel-control-prev,
.carousel-control-next {
  opacity: 0;
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
  opacity: 1;
}

.carousel-item img {
  height: 100%;
  object-fit: cover; /* يضمن تغطية الصورة بالكامل دون تشويه */
}

.carousel-indicators button {
  width: 8px !important;
  height: 8px !important;
  border-radius: 50%;
  background-color: #616162 !important;
}

.carousel-indicators button.active {
  background-color: #f68b1e !important;
}

.cards imgs {
  width: 50px;
  height: 50px;
}

.cards {
  h6,
  p {
    margin-bottom: 0;
  }
}

img {
  max-width: 100%;
}

.second div:hover img {
  cursor: pointer;
  box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.2);
}
/* * {
  border: 1px solid red;
} */
.side-menue {
  height: 450px;
  width: 850px;
  /* z-index: 10; */
  top: 0;
}
.side-menue h6 {
  margin: 0;
}
.cat {
  flex-grow: 1;
}

.items a:link {
  margin-bottom: 3px;
  color: #616162;
}

.hidden {

  visibility: hidden !important;

}
/*  */
.carousel-inner {
  z-index: 1;
}
/*  */

/* Mahmoud Elshafeey */

body {
  background-color: #f1f1f1;
}

.img-hover {
  cursor: pointer;
}
.img-hover:hover {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.img-scale:hover {
  transform: scale(1.1);
}

.bg-bauty {
  background-color: #eed4d5;
}
.bg-cold {
  background-color: #ede5f3;
}
.bg-fff2d6 {
  background-color: #fff2d6;
}

.bg-0099ff {
  background-color: #0099ff;
}

.bagrond {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.05);
  background-color: #fff;
}
.content-section {
  padding: 0 10px;
}
.content-section h1 {
  font-weight: 700;
  font-size: 1.5rem;
  /* color: #333; */
  padding: 10px 0;
  letter-spacing: -0.5px;
}
.content-section p {
  font-size: 14px;
  color: #313133;
  font-weight: 300;
}
