.cart-box {
    background: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.cart-side {
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.cart-product img.product-img {
    width: 100px;
    height: auto;
    object-fit: contain;
}

/* .cart-product {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
} */
.ttt{
  font-family:'Roboto', sans-serif;
      color: #4a4a4a;
}
.remove-btn {
    cursor: pointer;
    font-size: 14px;
}

@media (max-width: 768px) {
    .cart-product {
        flex-direction: column;
        align-items: flex-start;
    }
   
    .remove-btn {
        margin-top: 10px;
    }
    .small-sm{
        display: flex;
    }
}

.trs{
    color:#f8982d ;
}
.empty-cart{
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    background: #fff;
    margin: 20px 10%;
    width: 80%;
}

.darkred{
   color: #b81a0a;
   font-size: 12px;
}

.spin{
    color:#f8982d ;
    font-size: 14px;
}